@charset "utf-8";

html,
body {
  background: none;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
