@charset "utf-8";

html,
body {
  background: none;
}

html {
  font-size: 62.5%;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

body {
  touch-action: manipulation;
  scroll-behavior: smooth;
}
